body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: darkgray;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(121, 218, 121);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#searchBox {
    width: 25%;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

#randomPick {
    padding: 8px 8px;
    background-color: rgb(121, 218, 121);
    color: rgb(48, 48, 48);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#randomResult {
    margin-top: 0px;
    margin-bottom: 10px;
}

.table-container {
    height: 480px; 
    overflow-y: auto;
    border-top: 1px solid #333;  
    border-bottom: 1px solid #333; 
}

.song-name {
    cursor: pointer;
}



.clicked-song {
    color:rgb(53, 128, 81); /* 可以根据需要更改颜色 */
}


#songTable {
    width: 100%;
    border-collapse: collapse;
}

#songTable th {
    position: sticky;
    top: -8px;
    background-color: #333; /* 使表头背景不透明 */
    z-index: 0px; /* 确保表头在其他表格行之上 */
}

#songTable th, #songTable td {
    border: 1px solid #474747;
    padding: 10px;
}

#songTable tr:hover {
    background-color: #4e4e4e;
}

#songTable th[data-sort] {
    cursor: pointer;  
    transition: background-color 0.3s;  /* 背景色渐变效果 */
}

#songTable th[data-sort]:hover {
    background-color: #555;  /* 或您喜欢的任何颜色 */
}

#songTable th:nth-child(1), #songTable td:nth-child(1) { /* 第一列, songName */
    width: 40%;  /* 调整为所需的宽度 */
}

#songTable th:nth-child(2), #songTable td:nth-child(2) { /* 第二列, singerName */
    width: 40%;  /* 调整为所需的宽度 */
}

#songTable th:nth-child(3), #songTable td:nth-child(3) { /* 第三列, language */
    width: 20%;  /* 调整为所需的宽度 */
}

.highlighted-row {
    background-color: rgb(121, 218, 121) !important;
    color: rgb(48, 48, 48);
}

.footer-container {
    margin-top: 10px;
    padding: 20px 0;
    background-color: #000000;  /* 为尾注添加深色背景 */
    text-align: center;
    color: rgb(255, 255, 255);
    border-top: 1px solid #2E2E2E;
    background-image: url('footer_gif.gif');  /* 更改为您的图片路径 */
    background-size: cover;  /* 使图片覆盖整个footer区域 */
    background-repeat: no-repeat;  /* 防止图片重复 */
    background-position: center;  /* 将图片居中 */
}

footer p {
    margin: 0;
    padding: 5px;
    font-size: 0.9em;  /* 设置尾注文字大小 */
}




  /* Global Time Section Styling */
#global-times {
    background-color: #000; /* Black background */
    color: rgb(121, 218, 121); /* Green text */
    padding: 5px 5px; /* Compact padding */
    font-family: 'Arial', sans-serif; /* Modern font, change as needed */
  }
  
  #global-times h2 {
    margin-bottom: 8px;
    font-size: 1.1em; /* Slightly smaller heading for compact design */
  }
  
  /* Container for time entries */
  .time-entries {
    display: flex;
    justify-content: center;
    gap: 5px; /* Reduced space between the children for a compact design */
  }
  
  /* Individual time entries */
  .time-entry {
    position: relative; /* 设置为相对定位 */
    background-color: #000; /* Maintain black background for continuity */
    color: rgb(121, 218, 121); /* Green text */
    padding: 5px; /* Reduced padding for a compact design */
    border: 1px solid rgb(121, 218, 121); /* Green border */
    border-radius: 2px; /* Smaller border radius for a sharper look */
    flex: 1; /* Allows equal spacing and takes up available space */
    min-width: 80px; /* Minimum width to ensure content fits */
    text-align: center; /* Center-align the text */
  }
  
  .date-diff {
    position: absolute; /* 绝对定位 */
    top: 0; /* 距离容器顶部为0 */
    right: 0; /* 距离容器右边为0 */
    background: #000000; /* 可以调整为您喜欢的颜色 */
    color: rgb(121, 218, 121); /* 字体颜色，根据需要调整 */
    padding: 3px 6px; /* 内填充，根据需要调整 */
    border-radius: 0 0 0 4px; /* 根据需要调整圆角 */
    font-size: 0.8em; /* 字体大小，根据需要调整 */
    font-style: oblique;
    font-weight: bold;
  }

  .time-entry h3 {
    margin: 0;
    font-size: 0.8em; /* Smaller font size for city names */
    font-weight: normal; /* Less emphasis on city names to highlight times */
  }
  
  .time-entry p {
    margin: 3px 0 0; /* Reduced space above the time */
    font-size: 0.9em; /* Compact font size for times */
    font-weight: bold; /* Bold to make the time stand out */
  }

  
  
 
  
  @media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    #randomResult {
        margin-bottom: 10px;
        font-size: 0.9em;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    #searchBox {
        width: 50%;
        margin-bottom: 10px;
    }

    .header {
        padding: 10px 0;
    }

    .table-container {
        height: 300px; /* Adjust the table height for mobile view */
    }

 .time-entry {
    padding: 3px; /* Less padding for a more compact entry */
    margin: 1px; /* Reduce margin to save space */
    flex: 1; /* Allows shrinking and growing as needed */
    min-width: 0; /* Allows shrinking below the specified width */
    text-align: left; /* Center-align the text */
  }

  .time-entry h3 {
    font-size: 0.7em; /* Even smaller font size for city names on mobile */
  }

  .time-entry p {
    font-size: 0.8em; /* Slightly smaller font size for times on mobile */
  }

  .date-diff {

    padding: 2px 3px; /* 内填充，根据需要调整 */
    border-radius: 0 0 0 4px; /* 根据需要调整圆角 */
    font-size: 0.2em; /* 字体大小，根据需要调整 */
  }
  }
